
/*========
Common CSS
========*/
*{
  margin: 0;
  padding: 0;
}
h1, h2, h4{
  text-transform: capitalize;
  font-family: 'Inter', sans-serif;
}
h1{
  font-size: 65px;
  color: #fff;
}
h2{
  font-size: 45px;
}
h4{
  font-size: 24px;
}
p{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #707070;
}
a{
  text-decoration: none;
}
img{
  width: 50%;
  display: block;
}
li{
  list-style-type: none;
}
/*-----END-----*/


/*============
Header Section
============*/
#header-cover{
  background-image: url("./media/images/background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}
.header-overly{
  background-color: rgba(0, 0, 0, .7);
  padding: 400px 0;
}
.header-items{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header-details p{
  margin: 20px 0 100px;
  font-size: 20px;
  color: #fff;
}
.button-link a{
  background: linear-gradient(45deg, #16a085, #2980b9);
  color: #fff;
  border: 2px solid transparent;
  padding: 20px 40px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  text-transform: capitalize;
  border-radius: 10px;
}
.button-link a:hover{
  background: transparent;
  border-color: #fff;
  transition: .3s;
}
/*-----END-----*/


/*==================
Amount Range Section
==================*/
.container-width-65{
  width: 65%;
  margin: 100px auto 130px;
}

.section-details{
  width: 60%;
  margin: 30px auto 50px;
}
.section-details h2{
  margin-bottom: 20px;
  text-align: center;
}
.section-details p{
  text-align: center;
}
.flex-area{
  display: flex;
  justify-content: center;
}
.amount-range ul li{
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  margin: 0 11px 60px;
  background-color: #FAFAFA;
  border: 2px solid transparent;
  padding: 30px 20px;
  border-radius: 5px;
}
.amount-range ul li:nth-child(2){
  background-color: #d6edfd;
  border-color: #2980b9;
}
.amount-range ul li:hover{
  background-color: #d6edfd;
  border-color: #2980b9;
  cursor: pointer;
  transition: .3s;
}
.other-amount-area{
  width: 65%;
  margin: 0 auto;
}
.other-amount input[type=text]{
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
  border: 2px solid transparent;
  border-bottom-color: #DADADA;
}
.submit-link{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.submit-link input[type=submit]{
  background: linear-gradient(45deg, #16a085, #2980b9);
  color: #fff;
  border: 2px solid transparent;
  padding: 20px 40px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  text-transform: capitalize;
  border-radius: 10px;
}
.submit-link input[type=submit]:hover{
  background: linear-gradient(45deg, #2980b9, #16a085);
  cursor: pointer;
  transition: .3s;
}
/*-----END-----*/


/*==============
Planning Section
==============*/
.container-width-80{
  width: 80%;
  margin: 0 auto;
}
.plan-items{
  padding: 60px 25px;
  margin: -80px 25px 100px 0;
  width: 28%;
}
.plan-img{
  margin-bottom: 30px;
}
.plan-img img{
  width: 60px;
  height: 60px;
}
.plan-details p{
  font-size: 16px;
  margin-top: 16px;
}
.food{
  background-color: #EEF6F7;
}
.shelter{
  background-color: #FFEFEF;
}
.medicine{
  background-color: #FFF4D6;
}
/*-----END-----*/


/*==============
Especial Section
===============*/
.especial-background{
  margin: 30px 0;
  background-color: #c8d6e5;
  padding: px;
}
.especial-item-left{
  margin-right: 100px;
  width: 70%;
}
.especial-image{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: skewY(5deg);
  box-shadow: 0 0 20px rgb(99, 99, 99);
}
.especial-item-right{
  width: 25%;
}
.especial-title h2{
  margin: 20px 0 50px;
}
.especial-artical p:nth-child(2){
  margin: 20px 0 50px;
}
.how-to-button a{
  background: transparent;
  color: #2980b9;
  border: 2px solid #2980b9;
  padding: 20px 40px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  text-transform: capitalize;
  border-radius: 10px;
}
.how-to-button a:hover{
  background: linear-gradient(45deg, #16a085, #2980b9);
  color: #fff;
  border-color: transparent;
  transition: .3s;
}
/*-----END-----*/


/*===============
Subscribe Section
===============*/
.form-area{
  width: 65%;
  margin: 0 auto;
}
.subscribe-form{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: #34495e;
  padding: 75px 180px;
}
.subscribe-form input[type=text], 
.subscribe-form input[type=email]{
 display: block;
 width: 100%;
 padding: 10px;
 font-size: 16px;
 font-family: 'Nunito', sans-serif;
 text-align: center;
 border: 1px solid transparent;
 background-color: #fff;
}
.subscribe-form input[type=email]{
  margin: 20px 0 50px;
}
.subscribe-form input[type=submit]{
  background-color: #fff;
  color: #34495e;
  border: 2px solid transparent;
  padding: 20px 40px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  text-transform: capitalize;
  border-radius: 40px;
}
.subscribe-form input[type=submit]:hover{
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  transition: .3s;
  cursor: pointer;
}
/*-----END-----*/


/*============
Footer Section
============*/
footer{
  background-color: #0B0D17;
  padding: 40px 0;
  text-align: center;
}
footer h3{
  font-size: 36px;
  font-family: 'Alfa Slab One', cursive;
  text-transform: capitalize;
  color: #fff;
}
.text-color{
  color: #2980b9;
}
footer p:nth-child(2){
  color: #fff;
  font-size: 14px;
}
footer p:nth-child(3){
  margin-top: 50px;
}
footer p:nth-child(3) a strong{
  color: #fff;
}
/*-----END-----*/